.card {
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  width: 275px;
}
.users {
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-block: 10px;
}
.header {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  padding-bottom: 5px;
  padding-inline: 10px;
}
.header:last-child {
  border: none;
}
